.composition{
    position: relative;
    &__photo{
        width:55%;
        box-shadow: 0 1.5rem 2rem rgba($color-black, 0.4);
        border-radius:2px;
        position: absolute;
        z-index: 1;
        transition: all .2s;
        outline-offset: 1.5rem;

        &--p1{
            top:-2rem;
            left:0;
        }

        &--p2{
            right:0;
            top:2rem;
        }

        &--p3{
            top:8rem;
            left:20%;
        }

        &:hover{
            outline:1rem solid $color-primary;
            transform: scale(1.1) translateY(.5rem);
            z-index:2;
        }
    }

    &:hover &__photo:not(:hover){
        transform: scale(0.9);
    }
}